# URL de la API en desarrollo (IP local de tu máquina para dispositivo físico)
EXPO_PUBLIC_API_URL_DEV=http://192.168.56.1:3000/api

# URL de la API en producción
EXPO_PUBLIC_API_URL_PROD=https://api.aguadc.hn/api
