@import "tailwindcss";

@theme {
  --color-agua-deep: #003366;
  --color-agua-sky: #00AEEF;
  --color-agua-smoke: #F5F5F5;
  --color-agua-gray: #546E7A;
  --font-family-sans: 'Inter', system-ui, sans-serif;
}

:root {
  background-color: #F5F5F5;
  color: #333;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}
